{
    "env": {
      "test": {
        "presets": [
          [
            "@babel/preset-env",
            {
              "loose": true,
              "shippedProposals": true,
              "targets": {
                "node": "current"
              }
            }
          ]
        ]
      }
    }
  }
  