@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* purgecss start ignore */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 0.875rem;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f7f8fc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b4ce;
  border-radius: 10px;
}

/* purgecss end ignore */
